{% extends "base-back.html"%}
{% block content %}
<div class="jumbotron">

<h1>Welcome to the sign up page!</h1>
<p>Please sign up for our newsletter.  After you sign up you will be
  directed to a confirmation page.</p>

  <form action="{{url_for('registration.register')}}" method = 'POST'>
  {# This hidden_tag is a CSRF security feature. #}
  {{ form.hidden_tag() }}
  {{ form.firstName.label }} {{ form.firstName() }}<br>
  {{ form.lastName.label }} {{ form.lastName() }}<br>
  {{ form.email.label }} {{ form.email() }}<br>
  {{ form.password.label }} {{ form.password() }}<br>
  {{ form.submit() }}
</form>
</div>
{% endblock %}
