{# PLAYBOOK HTML #}
{% extends "base-back.html"%}
{%block content%}

<div class="jumbotron">
  <h1>Welcome to Kennesaw State Hiking Club</h1>
</div>

<br>
<br>
<h3>Upcoming trips</h3>
<br>
<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th style="width: 150px;">NAME</th>
      <th style="width: 150px;">LOCATION</th>
      <th style="width: 150px;">DATE</th>
    </tr>
  </thead>
   <tbody id="form-list-client-body">
      {% for item in eventList%}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.location}}</td>
            <td>{{item.date}}</td>
        </tr>
        {% endfor %}
  </tbody>
</table>

{% endblock %}
